---
import Base from "../layouts/Base.astro";
---
<Base title="Projects - laubach.dev" description="Things I've built.">
    <h1>Projects</h1>
    <p>[Under Construction]</p>
</Base>
<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1, p {
        text-align: center;
    }
</style>